:root {
  --primary-text-color: #212121;
  --accent-text-color: orange;
  --primary-white-color: #ffffff;
}

.page {
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.cat {
  padding-top: 40px;
  padding-left: 400px;
}

/* header */
.header {
  border-bottom: 1px solid #ececec;
}

/* лого */
.header__logo {
  color: #000000;
  text-decoration: none;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__logo:hover,
.header__logo:focus {
  color: var(--accent-text-color);
}

.header__halfLogo {
  color: var(--accent-text-color);
}

/* навігація */
nav {
  display: flex;
  align-items: center;
}

.header__list {
  display: flex;
  margin-left: 93px;
}

.header__item + .header__item {
  margin-left: 50px;
}

.header__link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--primary-text-color);

  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.header__link:hover,
.header__link:focus {
  color: var(--accent-text-color);
}

.header__link.current {
  color: var(--accent-text-color);
  position: relative;
}

.header__link.current::after {
  content: "";

  position: absolute;
  display: inline-block;

  top: 95%;
  left: 0%;

  width: 100%;
  height: 4px;
  border-radius: 4px;

  background-color: var(--accent-text-color);
}

/* Task 1 */

/* Task 2 */

.ingredients__list {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
  font-size: 24px;
}

/* Task 3 */

.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  padding: 30px;
}

.gallery__item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin: 15px;

  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__item:hover,
.gallery__item:focus {
  box-shadow: 0px 1px 25px 10px rgba(232, 112, 21, 0.75);
}

/* Task 4 */

.reset__button {
  display: flex;
  margin: 0 auto;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 73px;
  min-width: 200px;

  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.reset__button:hover,
.reset__button:focus {
  background-color: green;
}

.counter__button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  height: 70px;

  color: var(--primary-white-color);
  background-color: var(--accent-text-color);
  cursor: pointer;

  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.counter__button:hover,
.counter__button:focus {
  background-color: green;
}

.counter {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 35px;
}

.counter__value {
  font-size: 70px;
  margin-left: 25px;
  margin-right: 25px;
}

/* Task 5 */

.input {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  padding-left: 600px;
}

#name-input {
  width: 150px;
  padding: 50px;
  margin-bottom: 25px;
  border: orange solid 5px;
  border-radius: 5px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#name-input:focus {
  border: green solid 5px;
}

#name-input:focus-visible {
  outline: transparent;
}

/* Task 6 */

/* Task 7 */

/* Task 8 */

.login-form {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  padding: 32px;
}

/* Task 9 */
